extends base
include _reviewCard

block append head
  script(src='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet')

mixin overviewBox(label, text, icon)
  .overview-box__detail
    svg.overview-box__icon
      use(xlink:href=`/img/icons.svg#icon-${icon}`)
    span.overview-box__label= label
    span.overview-box__text= text

block content
  // Preload
  .preloader
    .preloader_image
      .sk-double-bounce
        .sk-child.sk-double-bounce1
      .sk-child.sk-double-bounce2

  section.inner-page-banner(style='background-image: url(/golden/img/about-us/travel-concept-with-landmarks_1057-4873.jpg);')
    .page-banner-caption
      .container
        .row
          .col-md-12
            h1 Detail Tur
            ol.breadcrumb
              li.breadcrumb-item
                a(href='/') Home
              li.breadcrumb-item.active Detail Tur
  // end banner

  // Keterangan Tour
  section.section-spacing
    .container
      .row
        .col-md-8
          .news-details(style="font-family: 'Poppins', sans-serif;")
            .post-thumb
              img(src=`/golden/img/tour/${tour.imageTour}`, alt=`${tour.name}`)

            h3= `${tour.name} ${tour.durasi}`   
              
            br

            .deskripsi(style='font-size: 16px; color: #B0B0B0; font-weight: 400;')
            - const paragraphs = tour.deskripsi.split('\n');
            each parag in paragraphs
              p= parag

          h4= `HARGA Rp. ${(new Intl.NumberFormat(['ban', 'id']).format(tour.price))},- /pax`




        // Sidebar
        .col-md-4
          #sidebar.sidebar
            .sidebar-inner
              .book-tour
                h3 Isi Data Pemesan
                .sidebar-item.sidebar-widget
                  form(action='#', method='post')
                    .form-group
                      label(for='exampleInputEmail1') Nama Kontak
                      input.form-control(type='text')
                    .form-group
                      label(for='exampleInputEmail1') No.handpone kontak
                      input.form-control(type='tel')
                    .form-group
                      label(for='exampleInputEmail1') Alamat email kontak
                      input.form-control(type='email')
                    .form-group
                      label(for='exampleInputEmail1') Jumlah Pemesan
                      input.form-control(type='text')
                    .form-group
                      label(for='') Jadwal Keberangkatan
                      input.form-control(type='date')
                  a(href='boo.html')
                    button.btn.btn-primary(type='submit') Lanjutkan Pemesanan

